* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    
}

html {
    font-size: 62.5%;
    color: white;
}

h1 {
    font-size: 4rem;
    color: white;

}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

a {
    text-decoration: none;
}

.site-header {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),
     url('https://www.ticocoffee.com/images/articulos/Barismo/How-to-brew-coffee-pt3-a-7-steps-brewing-guide/barra-de-cafe.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}


.header-container {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

.header-logo {
    padding-top: 6px;
}
.header-logo h1 {
    text-align: center;
    font-weight: 500;
}

.header-nav {
    margin-top: 20px;
}

.nav-menu li {
    height: 3.;
    list-style: none;
    margin: 0.4rem 0;
}

.nav-menu a {
    color: white;
}

.header-container__texto {
    margin: 2rem 0;
}

.header-container__texto h2 {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 200;
    font-family: 'Amatic SC', cursive;
}

.header-container__texto p {
    display: none;
}