* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    
}

html {
    font-size: 62.5%;
    color: white;
}

h1 {
    font-size: 4rem;
    color: white;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

a {
    text-decoration: none;
}

.site-header {
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),
     url('https://www.ticocoffee.com/images/articulos/Barismo/How-to-brew-coffee-pt3-a-7-steps-brewing-guide/barra-de-cafe.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}


.header-container {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

.header-logo {
    padding-top: 6px;
}
.header-logo h1 {
    text-align: center;
    font-weight: 500;
}

.header-nav {
    margin-top: 20px;
}

.nav-menu li {
    height: 3rem;
    list-style: none;
    margin: 0.4rem 0;
    font-size: 2rem;
}

.nav-menu a {
    color: white;
}

.header-container__texto {
    margin: 2rem 0;
}

.header-container__texto h2 {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 200;
    font-family: 'Amatic SC', cursive;
}

.header-container__texto p {
    display: none;
}


/* MAIN */

.main-container {
    display: flex;
    color: black;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.main-blog h2 {
    margin-bottom: 2rem;
    border-top: .2rem solid #ddd;
    border-bottom: .2rem solid #ddd;
    padding: 1rem;
}

.main-container h2, 
h3{
    font-family: "Amatic SC", cursive;
}

.blog {
    margin-bottom: 2rem;
}

.blog-image {
    margin: 0 auto;
    max-width: 350px;
}

.blog-image img {
    width: 100%
}

.blog-contain h3 {
    margin: 1rem 0;
}

.blog-contain p {
    padding: 5px;
    text-align:start;
    margin: 1.6rem 0;
}

.botton-more div{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 29, 29);
    border-radius: .4rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.5rem;
    height: 4rem;
    padding: .5rem;
    font-weight: 500;
}

.main-sidebar {
    margin: 0 auto;
}

.main-sidebar h2{
    margin-bottom: 2rem;
    padding: 1rem;
}

.list-curses {
    margin: 1.6rem 0;
}

.curses {
    list-style: none;
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: .5rem;
}

.curses h4 {
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
    height: 4rem;
}

.curses p{
    padding-top: 1rem;
    text-align: center;
    height: 4rem;
}

.curses div {
    margin-bottom: 2rem;
}





/* FOOTER */

.site-footer {
    background-color: gray;
}

.footer-container {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.footer-logo h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.footer-nav {
    font-size: 1.2rem;
    display: flex;
}

.footer-nav li {
    list-style: none;
    margin: 1px 5px 1px 0px;
}

.footer-nav a {
    color: white;
}

.creator span{
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
}

