.site-header {
    height: 35rem;
}

.nav-menu {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.nav-menu li {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2rem;
}

.header-container__texto p{
    font-size: 2rem;
    padding-bottom: 3rem;
    display:block;
}

/* MAIN */


.main-container {
    display: flex;
    margin: 3rem;
}

.main-blog {
    margin: 0 auto;
    flex: 0 0 calc(70% - 3rem);
}

.main-blog h2 {
    border: 0;
}

.blog {
    margin: 0 auto;
    border-bottom: .1rem solid #ddd;
    margin-bottom: 2rem;
    display: flex;
}

.blog-image {
    margin: 0 auto;
    flex: 0 0 calc(50% - 2rem);
}

/* .blog-image image {
} */

.blog-contain {
    flex: 0 0 calc(50%);
    margin: 0 auto;
}

.blog-contain h3 {
    margin: 0;
}

.blog-contain p {
    padding: 0;
}

.botton-more {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.main-sidebar {
    flex: 1 1 calc(30%);
    order: 2;
}

.curses {
    border: none;
    border-bottom: .1rem solid #ddd;
}

.curses .botton-more {
    margin-bottom: 0;
    height: 5rem;
    margin-bottom: 2.15rem;
}

@media(min-width: 800px) {
    .header-container__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    }
    
    .header-nav {
        margin-top: 2rem;
    }
    
    .nav-menu__items {
        margin: 0px;
    }
}
